
{% extends 'students/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>Students Listing</h2>
<hr>
<a href="{% url 'create' %}" class="btn btn-primary">Add Student</a><br>
<br><br<br>
<table class="table table-striped" col-6>
        <tr>
            <th>Registration</th>
            <th>First Name</td>
            <th>Last Name</td>
            <th>Phone</td>
            <th>Update</td>
            <th>Delete</td>
        </tr>    
    {% for student in students %}

        <tr>
            
            <td>{{student.registration}}</td>
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.phone}}</td>
            <td><a href="{% url 'update' student.id %}" class="btn btn-warning">Update</a></td>
            <td><a href="{% url 'delete' student.id %}" class="btn btn-danger">Delete</a></td>
        </tr>
    {% endfor %}
    
</table>

    
{% endblock %}
